<?xml version="1.0" ?>
<robot name="bottle" xmlns:xacro="http://ros.org/wiki/xacro">

		
	<link name="bottle">
		<visual>
			<origin xyz="0 0 0" rpy="1.57079 0 1.57079"/>
			<geometry>
				<mesh filename="package://indy7_description/meshes/banana/textured.dae"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz="0 0 0.0" rpy="1.57079 0 1.57079"/>
			<geometry>
				<mesh filename="package://indy7_description/meshes/banana/textured.dae"/>
			</geometry>
		</collision>
		<inertial>
			<origin xyz="0 0 0" rpy="0 0 0"/>
			<mass value="0.00001"/>
			<inertia ixx="+0.00572623" iyy="+0.00558959" izz="+0.00966674" ixy="+0.00000251" iyz="-0.00000014" ixz="-0.00011380"/>
		</inertial>
	</link>


</robot>
