<?xml version="1.0" ?>
<robot name="indy7_and_robotiq" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find indy7_description)/urdf/indy7_fixed.xacro"/>
  <xacro:include filename="$(find indy7_robotiq_description)/urdf/robotiq_arg85_description.xacro"/>

  <joint name="indy7_joint_tcp" type="fixed">
    <parent link="tcp"/>
    <child link="robotiq_85_base_link"/>
    <origin rpy="0 0 0" xyz="0 0 0"/>
  </joint>
</robot>
